Repository jvlivonius/vsc-extension-scanner: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-consistency, safety-check, pip-audit-check

Path conditions:
  version-consistency: any of: (_version\.py|README\.md|CLAUDE\.md|PRD\.md)$
  safety-check: any of: requirements.*\.txt|pyproject\.toml|setup\.py
  pip-audit-check: any of: requirements.*\.txt|pyproject\.toml|setup\.py

fix(ci): Fix pre-commit Semgrep hook configuration
  .pre-commit-config.yaml
  .semgrep.yml
  vscode_scanner/scan_orchestrator.py
Due: none

fix(semgrep): Add scan_orchestrator.py to sql-injection exclusion list
  .semgrep.yml
  vscode_scanner/scan_orchestrator.py
Due: none

refactor(semgrep): Improve rule patterns to reduce false positives
  .semgrep.yml
Due: none

docs(v3.7): Create v3.7.0 release notes and archive documentation
  .claude/archive/agents/business-panel-experts.md
  .claude/archive/agents/learning-guide.md
  .claude/archive/agents/pm-agent.md
  docs/archive/README.md
  docs/archive/plans/v3.7-roadmap.md
  docs/archive/summaries/v3.7-phase0-completion-summary.md
  docs/archive/summaries/v3.7-phase1.1-completion-summary.md
  docs/archive/summaries/v3.7-phase1.2-completion-summary.md
  docs/archive/summaries/v3.7-phase1.3-completion-summary.md
  docs/archive/summaries/v3.7-phase1.4-completion-summary.md
  docs/archive/summaries/v3.7.0-release-notes.md
  docs/project/STATUS.md
  docs/project/v3.7-phase1.2-handoff.md
  docs/project/v3.7-phase1.3-handoff.md
  docs/project/v3.7-phase2-handoff.md
Due: version-consistency

Claude config clean-up.
  .claude/.archive/BUSINESS_PANEL_EXAMPLES.md
  .claude/.archive/BUSINESS_SYMBOLS.md
  .claude/.archive/FLAGS.md
  .claude/.archive/MCP_Magic.md
  .claude/.archive/MCP_Morphllm.md
  .claude/.archive/MCP_Playwright.md
  .claude/.archive/MCP_Tavily.md
  .claude/.archive/MODE_Business_Panel.md
  .claude/.archive/MODE_DeepResearch.md
  .claude/.archive/RESEARCH_CONFIG.md
  .claude/.archive/agents/business-panel-experts.md
  .claude/.archive/agents/learning-guide.md
  .claude/.archive/agents/pm-agent.md
  .claude/.archive/business-panel.md
  .claude/.archive/commands/sc/pm.md
  .claude/.archive/commands/sc/research.md
  .claude/CLAUDE.md
  .claude/commands/sc/brainstorm.md
  .claude/commands/sc/estimate.md
  .claude/commands/sc/explain.md
  .claude/commands/sc/task.md
  .claude/commands/sc/workflow.md
Due: version-consistency

docs(v3.7): Create v3.7.0 release notes and archive documentation (#38)
  .claude/.archive/BUSINESS_PANEL_EXAMPLES.md
  .claude/.archive/BUSINESS_SYMBOLS.md
  .claude/.archive/FLAGS.md
  .claude/.archive/MCP_Magic.md
  .claude/.archive/MCP_Morphllm.md
  .claude/.archive/MCP_Playwright.md
  .claude/.archive/MCP_Tavily.md
  .claude/.archive/MODE_Business_Panel.md
  .claude/.archive/MODE_DeepResearch.md
  .claude/.archive/RESEARCH_CONFIG.md
  .claude/.archive/agents/business-panel-experts.md
  .claude/.archive/agents/learning-guide.md
  .claude/.archive/agents/pm-agent.md
  .claude/.archive/business-panel.md
  .claude/.archive/commands/sc/pm.md
  .claude/.archive/commands/sc/research.md
  .claude/CLAUDE.md
  .claude/commands/sc/brainstorm.md
  .claude/commands/sc/estimate.md
  .claude/commands/sc/explain.md
  .claude/commands/sc/task.md
  .claude/commands/sc/workflow.md
  .semgrep.yml
  docs/archive/README.md
  docs/archive/plans/v3.7-roadmap.md
  docs/archive/summaries/v3.7-phase0-completion-summary.md
  docs/archive/summaries/v3.7-phase1.1-completion-summary.md
  docs/archive/summaries/v3.7-phase1.2-completion-summary.md
  docs/archive/summaries/v3.7-phase1.3-completion-summary.md
  docs/archive/summaries/v3.7-phase1.4-completion-summary.md
  docs/archive/summaries/v3.7.0-release-notes.md
  docs/project/STATUS.md
  docs/project/v3.7-phase1.2-handoff.md
  docs/project/v3.7-phase1.3-handoff.md
  docs/project/v3.7-phase2-handoff.md
Due: version-consistency

chore(claude): optimize configuration for Python CLI development
  .claude/.archive/README.md
  .claude/.archive/agents/backend-architect.md
  .claude/.archive/agents/devops-architect.md
  .claude/.archive/agents/frontend-architect.md
  .claude/.archive/agents/refactoring-expert.md
  .claude/.archive/agents/requirements-analyst.md
  .claude/.archive/agents/socratic-mentor.md
  .claude/.archive/agents/system-architect.md
  .claude/.archive/agents/technical-writer.md
  .claude/.archive/commands/sc/brainstorm.md
  .claude/.archive/commands/sc/document.md
  .claude/.archive/commands/sc/estimate.md
  .claude/.archive/commands/sc/explain.md
  .claude/.archive/commands/sc/help.md
  .claude/.archive/commands/sc/index.md
  .claude/.archive/commands/sc/load.md
  .claude/.archive/commands/sc/reflect.md
  .claude/.archive/commands/sc/save.md
  .claude/.archive/commands/sc/select-tool.md
  .claude/.archive/commands/sc/spawn.md
  .claude/.archive/commands/sc/spec-panel.md
  .claude/.archive/commands/sc/troubleshoot.md
  .claude/.archive/commands/sc/workflow.md
  .claude/MODE_Token_Efficiency.md
  .claude/RULES.md
Due: version-consistency

chore(claude): optimize configuration for Python CLI development (#39)
  .claude/.archive/README.md
  .claude/.archive/agents/backend-architect.md
  .claude/.archive/agents/devops-architect.md
  .claude/.archive/agents/frontend-architect.md
  .claude/.archive/agents/refactoring-expert.md
  .claude/.archive/agents/requirements-analyst.md
  .claude/.archive/agents/socratic-mentor.md
  .claude/.archive/agents/system-architect.md
  .claude/.archive/agents/technical-writer.md
  .claude/.archive/commands/sc/brainstorm.md
  .claude/.archive/commands/sc/document.md
  .claude/.archive/commands/sc/estimate.md
  .claude/.archive/commands/sc/explain.md
  .claude/.archive/commands/sc/help.md
  .claude/.archive/commands/sc/index.md
  .claude/.archive/commands/sc/load.md
  .claude/.archive/commands/sc/reflect.md
  .claude/.archive/commands/sc/save.md
  .claude/.archive/commands/sc/select-tool.md
  .claude/.archive/commands/sc/spawn.md
  .claude/.archive/commands/sc/spec-panel.md
  .claude/.archive/commands/sc/troubleshoot.md
  .claude/.archive/commands/sc/workflow.md
  .claude/MODE_Token_Efficiency.md
  .claude/RULES.md
Due: version-consistency

docs: Improve release process documentation and add archival automation
  docs/contributing/DOCUMENTATION_CONVENTIONS.md
  docs/contributing/RELEASE_CHECKLIST.md
  docs/contributing/RELEASE_PROCESS.md
  scripts/archive_release_docs.py
Due: none

docs: Improve release process documentation and add archival automation (#40)
  docs/contributing/DOCUMENTATION_CONVENTIONS.md
  docs/contributing/RELEASE_CHECKLIST.md
  docs/contributing/RELEASE_PROCESS.md
  scripts/archive_release_docs.py
Due: none

chore(config): Raise coverage threshold to 80% for critical modules
  .coveragerc
  .github/workflows/test.yml
Due: none

test(api): Add comprehensive error handling tests for vscan_api.py
  tests/test_api_error_handling.py
Due: none

chore(release): Bump version to v3.7.1 and update documentation
  CLAUDE.md
  docs/project/STATUS.md
  vscode_scanner/_version.py
Due: version-consistency

feat(v3.7.1): Coverage improvements for critical modules (#41)
  .coveragerc
  .github/workflows/test.yml
  CLAUDE.md
  docs/project/STATUS.md
  tests/test_api_error_handling.py
  vscode_scanner/_version.py
Due: version-consistency

test(coverage): Add edge case tests for cache_manager and scanner
  docs/project/STATUS.md
  tests/test_cache_edge_cases.py
  tests/test_scanner_edge_cases.py
Due: none

feat(coverage): Achieve 87.63% coverage with enhanced edge case testing (#42)
  docs/project/STATUS.md
  tests/test_cache_edge_cases.py
  tests/test_scanner_edge_cases.py
Due: none

test(cache): Phase 1 - cache_manager.py coverage to 87.63% (+8.31%)
  tests/test_cache_corruption_handling.py
  tests/test_cache_orphaned_cleanup.py
  tests/test_cache_secret_key_fallback.py
Due: none

test(scanner): Phase 2 - scanner.py coverage to 86.95% (+7.23%)
  tests/test_scanner_display_modes.py
  tests/test_scanner_file_errors.py
  tests/test_scanner_filter_help.py
Due: none

docs: Update STATUS.md with Phase 1+2 coverage achievements
  docs/project/STATUS.md
Due: none

Reduce token usage
  CLAUDE.md
Due: version-consistency

feat(coverage): Achieve 89.39% with cache_manager and scanner at 80%+ (#43)
  CLAUDE.md
  docs/project/STATUS.md
  tests/test_cache_corruption_handling.py
  tests/test_cache_orphaned_cleanup.py
  tests/test_cache_secret_key_fallback.py
  tests/test_scanner_display_modes.py
  tests/test_scanner_file_errors.py
  tests/test_scanner_filter_help.py
Due: version-consistency

docs(release): Add comprehensive v3.7.1 release notes
  docs/archive/summaries/v3.7.1-release-notes.md
Due: none

feat(release): Add release notes validation to prevent missing notes
  docs/contributing/RELEASE_PROCESS.md
  scripts/bump_version.py
Due: version-consistency

feat(testing): Add UNMARKED test group to prevent silent test exclusion
  .gitignore
  docs/guides/TESTING.md
  scripts/run_tests.py
  tests/test_property_cache.py
  tests/test_retry.py
  tests/test_retry_analysis.py
  tests/test_scan_orchestrator.py
Due: none

feat(release): Add pre-release validation and smoke testing automation
  .semgrep.yml
  scripts/lib/__init__.py
  scripts/lib/coverage_manager.py
  scripts/lib/output_formatter.py
  scripts/lib/pytest_executor.py
  scripts/lib/pytest_output_parser.py
  scripts/lib/test_utils.py
  scripts/pre_release_check.py
  scripts/smoke_test.py
  scripts/smoke_test_extensions.json
Due: none

fix(release): Fix security tool execution in pre-release check
  scripts/pre_release_check.py
Due: none

refactor(testing): Migrate test infrastructure to reusable lib modules
  docs/guides/TESTING.md
  pyproject.toml
  scripts/lib/__init__.py
  scripts/lib/marker_config.py
  scripts/lib/test_discovery.py
  scripts/run_tests.py
  tests/test_integration_real_api.py
  tests/test_marker_categories.py
Due: safety-check, pip-audit-check

ci(workflows): Exclude real_api tests and add smoke tests to release
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

docs(release): Document v3.7.1+ automation features with optimized formatting
  docs/contributing/RELEASE_PROCESS.md
  docs/guides/TESTING.md
Due: none

Release v3.7.2: Release automation improvements
  CHANGELOG.md
  docs/archive/summaries/v3.7.2-release-notes.md
  vscode_scanner/_version.py
Due: version-consistency

Release v3.7.2: Release automation improvements (#44)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .semgrep.yml
  CHANGELOG.md
  docs/archive/summaries/v3.7.2-release-notes.md
  docs/contributing/RELEASE_PROCESS.md
  docs/guides/TESTING.md
  pyproject.toml
  scripts/lib/__init__.py
  scripts/lib/coverage_manager.py
  scripts/lib/marker_config.py
  scripts/lib/output_formatter.py
  scripts/lib/pytest_executor.py
  scripts/lib/pytest_output_parser.py
  scripts/lib/test_discovery.py
  scripts/lib/test_utils.py
  scripts/pre_release_check.py
  scripts/run_tests.py
  scripts/smoke_test.py
  scripts/smoke_test_extensions.json
  tests/test_integration_real_api.py
  tests/test_marker_categories.py
  tests/test_property_cache.py
  tests/test_retry.py
  tests/test_retry_analysis.py
  tests/test_scan_orchestrator.py
  vscode_scanner/_version.py
Due: version-consistency, safety-check, pip-audit-check

fix(security): Block temp directories for cache storage (v3.7.2)
  vscode_scanner/cache_manager.py
  vscode_scanner/utils.py
Due: none

fix(security): Enhance temp directory detection for cross-platform support
  vscode_scanner/utils.py
Due: none

fix(security): Fix temp directory validation logic in validate_path()
  vscode_scanner/utils.py
Due: none

fix(ci): Add pyyaml dependency to release workflow smoke tests
  .github/workflows/release.yml
Due: none

Revert temp directory blocking changes
  vscode_scanner/cache_manager.py
  vscode_scanner/utils.py
Due: none

fix(testing): Implement cross-platform safe temporary file handling
  tests/conftest.py
  tests/test_extension_discovery.py
  vscode_scanner/utils.py
Due: none

fix(ci): Use pytest for integration and architecture tests in GitHub Actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix(ci): Use pytest for integration and architecture tests in GitHub Actions (#45)
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none
