Repository jvlivonius/vsc-extension-scanner: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-consistency, safety-check, pip-audit-check

Path conditions:
  version-consistency: any of: (_version\.py|README\.md|CLAUDE\.md|PRD\.md)$
  safety-check: any of: requirements.*\.txt|pyproject\.toml|setup\.py
  pip-audit-check: any of: requirements.*\.txt|pyproject\.toml|setup\.py

feat(api): add comprehensive security findings (v4.1 schema)
  .semgrep.yml
  CHANGELOG.md
  docs/project/STATUS.md
  docs/project/v4.0-roadmap.md
  docs/project/v4.x-enhancement-opportunities.md
  tests/test_integration.py
  tests/test_v4_1_features.py
  vscode_scanner/_version.py
  vscode_scanner/cache_manager.py
  vscode_scanner/output_formatter.py
  vscode_scanner/vscan_api.py
Due: version-consistency

refactor(version): Consolidate comprehensive findings into v4.0
  CHANGELOG.md
  docs/project/STATUS.md
  tests/test_integration.py
  tests/test_v4_0_comprehensive_findings.py
  vscode_scanner/_version.py
  vscode_scanner/output_formatter.py
Due: version-consistency

refactor(cleanup): Remove version-specific comments and rename test file
  tests/fixtures/canonical_mock.py
  tests/test_comprehensive_security_findings.py
  tests/test_integration.py
  vscode_scanner/cache_manager.py
  vscode_scanner/output_formatter.py
  vscode_scanner/vscan_api.py
Due: none

Release v4.0.0: Rich Security Data & Comprehensive Findings (#46)
  .semgrep.yml
  CHANGELOG.md
  docs/project/STATUS.md
  docs/project/v4.0-roadmap.md
  docs/project/v4.x-enhancement-opportunities.md
  tests/fixtures/canonical_mock.py
  tests/test_comprehensive_security_findings.py
  tests/test_integration.py
  vscode_scanner/_version.py
  vscode_scanner/cache_manager.py
  vscode_scanner/output_formatter.py
  vscode_scanner/vscan_api.py
Due: version-consistency

hotfix(ci): Fix release workflow smoke test execution
  .github/workflows/release.yml
Due: none

hotfix(ci): Fix release workflow smoke test execution (#47)
  .github/workflows/release.yml
Due: none

hotfix(ci): Install package dependencies for smoke tests
  .github/workflows/release.yml
  tests/conftest.py
Due: none

hotfix(ci): Install package dependencies for smoke tests (#48)
  .github/workflows/release.yml
  tests/conftest.py
Due: none

docs(roadmap): Add database optimization plan for schema v5.0
  docs/project/v4.1-roadmap.md
Due: none

feat(ci): Optimize GitHub Actions workflows for speed and maintainability
  .github/actions/setup-python/action.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  pyproject.toml
  scripts/test_parallel_poc.sh
  tests/test_security_regression.py
Due: safety-check, pip-audit-check

fix(ci): Use pytest-cov for coverage with parallel execution
  .github/workflows/test.yml
  pyproject.toml
Due: safety-check, pip-audit-check

fix(ci): Python 3.8 compatibility - use Type[Enum] instead of type[Enum]
  scripts/lib/marker_config.py
Due: none

feat(ci): Add status check aggregation jobs for branch protection
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

feat(ci): Optimize GitHub Actions workflows for speed and maintainability (#49)
  .github/actions/setup-python/action.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  pyproject.toml
  scripts/lib/marker_config.py
  scripts/test_parallel_poc.sh
  tests/test_security_regression.py
Due: safety-check, pip-audit-check

fix(tests): Add worker isolation for test_cache_integrity parallel execution
  tests/test_cache_integrity.py
Due: none

Release v5.0.0: Database Optimization & Schema Redesign
  CHANGELOG.md
  docs/archive/plans/v4.0-roadmap.md
  tests/test_comprehensive_security_findings.py
  tests/test_integration.py
  vscode_scanner/_version.py
  vscode_scanner/cache_manager.py
Due: version-consistency

Release v5.0.0: Database Optimization & Schema Redesign (#50)
  CHANGELOG.md
  docs/archive/plans/v4.0-roadmap.md
  docs/project/v4.1-roadmap.md
  tests/test_comprehensive_security_findings.py
  tests/test_integration.py
  vscode_scanner/_version.py
  vscode_scanner/cache_manager.py
Due: version-consistency

feat(tests): Add parallel test execution to run_tests.py with pytest-xdist
  .coveragerc
  .gitignore
  docs/guides/TESTING.md
  scripts/lib/coverage_manager.py
  scripts/lib/pytest_executor.py
  scripts/run_tests.py
Due: none

fix(tests): Generate terminal coverage report in CoverageManager
  scripts/lib/coverage_manager.py
Due: none

fix(tests): Add coverage configuration for pytest-xdist parallel execution
  pyproject.toml
Due: safety-check, pip-audit-check

feat(tests): Add parallel test execution to run_tests.py with pytest-xdist (#51)
  .coveragerc
  .gitignore
  docs/guides/TESTING.md
  pyproject.toml
  scripts/lib/coverage_manager.py
  scripts/lib/pytest_executor.py
  scripts/run_tests.py
Due: safety-check, pip-audit-check

refactor(cli): Remove legacy vscan.py and consolidate CLI entry point
  .semgrep.yml
  CLAUDE.md
  DISTRIBUTION.md
  pyproject.toml
  tests/architecture_config.yaml
  vscan
  vscode_scanner/__init__.py
  vscode_scanner/cli.py
  vscode_scanner/vscan.py
Due: version-consistency, safety-check, pip-audit-check

chore(release): Bump version to 5.0.1
  vscode_scanner/_version.py
Due: version-consistency

Release v5.0.1: CLI Cleanup & Version Bump
  .semgrep.yml
  CLAUDE.md
  DISTRIBUTION.md
  pyproject.toml
  tests/architecture_config.yaml
  vscan
  vscode_scanner/__init__.py
  vscode_scanner/_version.py
  vscode_scanner/cli.py
  vscode_scanner/vscan.py
Due: version-consistency, safety-check, pip-audit-check

feat(tests): Convert non-executable test files to proper pytest tests
  docs/project/STATUS.md
  docs/project/v5.0.2-roadmap.md
  tests/test_api.py
  tests/test_security.py
  tests/test_security_manual_validation.py
Due: none

docs: Archive v4.1 database optimization roadmap
  docs/archive/plans/v4.1-roadmap.md
Due: none

feat(tests): Parametrize test_input_validators.py
  tests/test_input_validators.py
Due: none

feat(tests): Further optimize test_path_validation.py
  tests/test_path_validation.py
Due: none

feat(tests): Add property-based testing with Hypothesis
  tests/test_property_path_validation.py
  tests/test_property_sanitization.py
Due: none

release: v5.0.2 - Test Quality Improvements
  CHANGELOG.md
  vscode_scanner/_version.py
Due: version-consistency

fix(tests): Align temp cache directory pattern with established codebase conventions
  tests/test_property_path_validation.py
  tests/test_security_manual_validation.py
Due: none

Release v5.0.2: Test Quality Improvements (#54)
  CHANGELOG.md
  docs/archive/plans/v4.1-roadmap.md
  docs/project/STATUS.md
  docs/project/v5.0.2-roadmap.md
  tests/test_api.py
  tests/test_input_validators.py
  tests/test_path_validation.py
  tests/test_property_path_validation.py
  tests/test_property_sanitization.py
  tests/test_security.py
  tests/test_security_manual_validation.py
  vscode_scanner/_version.py
Due: version-consistency

docs(testing): Add cache directory pattern documentation to prevent regressions
  docs/guides/testing/TESTING_MOCKING.md
Due: none

docs: Update README and STATUS for v5.0.2 release
  README.md
  docs/project/STATUS.md
Due: version-consistency

docs: Update v5.x-enhancement-opportunities.md for v5.0.2
  docs/project/v5.x-enhancement-opportunities.md
Due: none

docs: Archive v5.0.2 roadmap after successful release
  docs/archive/plans/v5.0.2-roadmap.md
  docs/project/STATUS.md
Due: none

docs: Add missing release notes for v5.0.0, v5.0.1, v5.0.2
  docs/archive/summaries/v5.0.0-release-notes.md
  docs/archive/summaries/v5.0.1-release-notes.md
  docs/archive/summaries/v5.0.2-release-notes.md
Due: none

docs: Add v4.0.0 release notes (Rich Security Data & Comprehensive Findings)
  docs/archive/summaries/v4.0.0-release-notes.md
Due: none

docs: Standardize guides with HOW TO focus and consolidate coverage docs
  CLAUDE.md
  docs/README.md
  docs/archive/plans/v3.5.3-coverage-strategy.md
  docs/contributing/BRANCH_PROTECTION.md
  docs/contributing/CODE_REVIEW_CHECKLIST.md
  docs/contributing/DOCUMENTATION_CONVENTIONS.md
  docs/contributing/DOCUMENTATION_STANDARDS.md
  docs/contributing/GIT_WORKFLOW.md
  docs/contributing/RELEASE_CHECKLIST.md
  docs/contributing/RELEASE_PROCESS.md
  docs/contributing/TESTING_CHECKLIST.md
  docs/contributing/VERSION_MANAGEMENT.md
  docs/guides/ARCHITECTURE.md
  docs/guides/ERROR_HANDLING.md
  docs/guides/HTML_REPORTS.md
  docs/guides/PERFORMANCE.md
  docs/guides/SECURITY.md
  docs/guides/TESTING.md
  docs/guides/testing/README.md
  docs/guides/testing/TESTING_CLI.md
  docs/guides/testing/TESTING_COVERAGE.md
  docs/guides/testing/TESTING_HTML_REPORTS.md
  docs/guides/testing/TESTING_PARALLEL.md
  docs/guides/testing/TESTING_RETRY.md
  docs/guides/testing/TESTING_SECURITY.md
  docs/guides/testing/TEST_FILE_TEMPLATE.md
  docs/project/STATUS.md
  tests/test_property_sanitization.py
  tests/test_security_regression.py
  tests/test_string_sanitization.py
  vscode_scanner/utils.py
Due: version-consistency
